* {
    box-sizing: border-box;
}

.info-1, .info-2, .info-3 {
    width: 32%;
    color: white;
    border-radius: 5%;
    background-repeat: repeat;
    background-size: cover;
    background-position: bottom;
    text-shadow: 1px 1px 1px black;
    display: inline-block;
    padding: 30px;    
}

h2, article {
    padding: 2px;
    margin: 5px;
}

.info-1 {
    background-image: url("../task-2/assets/task2-bg.jpeg");
}

.info-2 {
    background-image: url("../task-2/assets/task2-bg1.jpeg");
}

.info-3 {
    background-image: url("../task-2/assets/task2-bg2.jpg");
    
 
}